MAIL_SERVER=imap.gmail.com:993
MAIL_USERNAME=hiiamtrong@gmail.com
MAIL_PASSWORD=
MAIL_MAILBOX=[Gmail]/All Mail
MAIL_FROM=hiiamtrong@gmail.com
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587

VIETQR_CLIENT_ID=
VIETQR_API_KEY=

VIETQR_BANK_ID=963388
VIETQR_ACCOUNT_NO=
VIETQR_ACCOUNT_NAME=VU XUAN TRONG
VIETQR_TEMPLATE=print


DB_PATH=mail.db
DB_DRIVER=sqlite3

TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_API_ENDPOINT=https://api.telegram.org/bot%s/%s


AWS_PROFILE=imap-bot
AWS_REGION=ap-southeast-1
AWS_S3_BUCKET=imap-bot-qr-code

CIPHER_SECRET_KEY=secret
